<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add a new mesage</h1>
    <form action="/new" method="post">
        <label for="msg-text">message</label>
        <input type="text" name="msg-text">

        <label for="msg-user">user</label>
        <input type="text" name="msg-user">

        <button type="submit">Submit</button>
    </form>
</body>
</html>